.banner {
  box-sizing: border-box;
  background-image: url(../assets/img/banner.jpg);
  background-repeat: no-repeat;
  height: 800px;
  background-size: 100%;
  
  padding-top: 150px;
  padding-left: 200px;
}
.banner .wrapper {
  width: 630px;
  display:flex;
  flex-direction: column;

}
.banner .navigation{
  display: flex;
  justify-content: space-around;
}
