.button {
    display: inline-block;
    background-color: var(--color-second);
    border: var(--color-third);
    box-shadow: 5px 5px 0 var(--color-third);
    transition: transform 100ms cubic-bezier(0.075, 0.82, 0.165, 1);

    line-height: 60px;
    width: 170px;

    color: inherit;
    font-size: inherit;
    font-family: inherit;
}
.button:hover {
    transform: scale(1.08);
}
.buttonMain{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    margin-top: 38px;
}
.buttonMain .button{
    margin-right  : 56px;
    margin-left : 56px;
}