    .main-box {
        box-sizing: border-box;
        display: inline-block;
        Background-color: var(--color-second);
        padding: 50px 30px;  
        box-shadow: 7px 7px 0 var(--color-third);
        text-align: center;
        
        margin-bottom: 38px;
    }
    .main-box .main-title {
        margin-bottom: 21px;
    }