.main-button {
    display: inline-block;
    background-color: var(--color-second);
    border: var(--color-third);
    box-shadow: 4px 4px 0 var(--color-third);
    transition: transform 100ms cubic-bezier(0.075, 0.82, 0.165, 1);

    line-height: 60px;
    width: 170px;

    color: inherit;
    font-size: inherit;
    font-family: inherit;
}
.main-button:hover {
    transform: scale(1.08);
    box-shadow: 7px 7px 0px var(--color-third);
}
