    .main-box {
        box-sizing: border-box;
        display: inline-block;
        Background-color: var(--color-second);
        padding: 5.0rem 3.0rem;  
        box-shadow: 7px 7px 0 var(--color-third);
        text-align: center;
        
        margin-bottom: 3.8rem;
    }
    .main-box .main-title {
        margin-bottom: 2.1rem;
    }