.main-header {
    display: flex;
    justify-content: space-between;
    background-color: var(--color-primary);
    border-bottom: 10px solid var(--color-four);
    padding: 10px 20px;
}
.main-header .avatar {
    width: 60px;
}