.main-header {
    display: flex;
    justify-content: space-between;
    background-color: var(--color-primary);
    border-bottom: 1.0rem solid var(--color-four);
    padding: 1.0rem 2.0rem;
}
.main-header .avatar {
    width: 6.0rem;
}