.main-banner {
  box-sizing: border-box;
  background-image: url(../assets/img/banner.jpg);
  background-repeat: no-repeat;
  height: 80.0rem;
  background-size: 100%;
  
  padding-top: 15.0rem;
  padding-left: 20.0rem;
}
.main-banner .wrapper {
  width: 63.0rem;
  display:flex;
  flex-direction: column;

}
.main-banner .navigation{
  display: flex;
  justify-content: space-around;
}
