.section{
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    
    background-color: var(--color-primary);
    border-bottom: 10px solid var(--color-four);
    width: 100%;
    height: 740px;
    padding-top: 50px;
    padding-bottom: 100px;
}
.section .main-title{
    margin-bottom: 60px;
}