.skill-box{
    display: flex;
    flex-wrap: wrap;

    max-width: 86rem;
    max-height: 48rem;
    margin-right:auto;
    margin-left: auto;
}
.skill-box .container{
    display: flex;
    font-size: 2.5rem;

    margin-right: 3.8rem;
    margin-bottom: 3.8rem;
}
.skill-box .container:nth-child(odd){
    margin-right: 10rem;
}
.skill-box .container .wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.skill-box .container .icon{
    font-size: 9rem;
    margin-right: 2rem;
}