.skill-box{
    display: flex;
    flex-wrap: wrap;

    max-width: 860px;
    max-height: 480px;
    margin-right:auto;
    margin-left: auto;
}
.skill-box .container{
    display: flex;
    font-size: 25px;

    margin-right: 38px;
    margin-bottom: 38px;
}
.skill-box .container:nth-child(odd){
    margin-right: 100px;
}
.skill-box .container .wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.skill-box .container .icon{
    font-size: 90px;
    margin-right: 20px;
}