.section .skill-box {
    position: relative;
    column-count: 2;
    font-size: 40px;
    width: 960px;
    height: 480px;
    
}
.section .skill-box .container{
    display: flex;
    flex-direction: row;
    
    width: 430px;
    height: 90px;
    margin-bottom: 38px;
}
.section .skill-box .container .icon{
    font-size: 85px;
    margin-right: 10px;
}
.section .skill-box .container .bar{
    display: flex;
    flex-direction: row-reverse;
    width: 320px;
    height: 40px;
    background-color: var(--color-second);
}  
.section .skill-box .container .bar::before {
    content:  "";
    background-color: var(--color-third);
    width: 20%;
    height: 40;
}