h1{
    text-shadow: 5px 5px 0px #3a0059 ;
    font-family: 'Press Start 2P', sans-serif;
    font-weight: 400;
    font-size: 2.5rem;
    color: white;
}
h2 {
    font-family: 'Press Start 2P', sans-serif;
    font-weight: 400;
    font-size: 2rem;
    color: white;
    opacity: 85%;
}