.title{
    text-shadow: 5px 5px 0px var(--color-four);
    font-family: 'Press Start 2P', sans-serif;
    font-weight: 400;
    font-size: 40px;
    font-size: 2.5rem;
    color:  var(--color-third);
}
